<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JetsamProperties</key>
	<dict>
		<key>JetsamPriority</key>
		<integer>0</integer>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/var/jb/Applications/YKApp.app/bin/YKLaunchd</string>
		<string>daemon</string>
	</array>
	<key>UserName</key>
	<string>root</string>
	<key>POSIXSpawnType</key>
	<string>App</string>
	<key>HighPriorityIO</key>
	<true/>
	<key>Label</key>
	<string>com.sky.yklaunchd</string>
</dict>
</plist>
